<div class="button-space">

    <button class="bn-button-sort bn-button-fa"
     mat-stroked-button [color]="color">
      <i class="fas fa-angle-up"></i>
    </button>
  
    <button class="bn-button-sort bn-button-fa"
     mat-stroked-button [color]="color">
      <i class="fas fa-angle-double-up"></i>
    </button>
  
    <button class="bn-button-sort bn-button-fa"
     mat-stroked-button [color]="color">
      <i class="fas fa-angle-down"></i>
    </button>
  
    <button class="bn-button-sort bn-button-fa"
     mat-stroked-button [color]="color">
      <i class="fas fa-angle-double-down"></i>
    </button>
  
  </div>
  