
@if(type === 'raised'){
    <button class="bn-button-counter" type="button"
    mat-raised-button [color]="color"
    [matBadge]="count"
    [matBadgeColor]="badgecolor" [matBadgeHidden]="count === 0 || showCount !== 'badge'"
    (click)="handleButtonClick()">{{buttonlabel | translate}}</button>
} @else if(type === 'stroked'){
    <button class="bn-button-counter" type="button"  
    mat-stroked-button [color]="color"
    [matBadge]="count"
    [matBadgeColor]="badgecolor" [matBadgeHidden]="count === 0 || showCount !== 'badge'"
    (click)="handleButtonClick()">{{buttonlabel | translate }}</button>
    
} @else {
    <button class="bn-button-counter" type="button" 
    mat-button [color]="color"
    [matBadge]="count"
    [matBadgeColor]="badgecolor" [matBadgeHidden]="count === 0 || showCount !== 'badge'"
    (click)="handleButtonClick()">{{buttonlabel | translate }}</button>
}